<div class="card">
    <div class="card-body">
        <h1 class="text-center pb-3">About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus debitis possimus amet veritatis, minima, impedit numquam voluptate nemo fugiat dicta quisquam aspernatur a eius quas doloribus repellendus est obcaecati, assumenda nisi cum eaque! Doloremque quibusdam nihil perspiciatis delectus facere fugit!</p>
    </div>
</div>