<div class="bg-light mt-4 p-3 rounded">
    
    <h1 class="display-4 text-center mb-5">Notes APP with Nodejs and MongoDB and Boostrap v5</h1>
    <!--CLase de boostrap-->
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <!--Lead para que luzca bien el texto y loren para fefaulttext-->
    <hr class="my-4">
    <!--Linea divisora de margin de abajo y arriba 4-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis suscipit non mollitia unde id sint dolor neque
        dolore rem quae! Aut at ut tempora reprehenderit sequi id possimus facilis quidem.</p>
    <div class="d-grid col-6 mx-auto py-5">
        <a href="https://raulcv.com/contact" target="_blank" class="btn btn-warning">Contac me</a>
    </div>
    <div class="d-grid col mx-auto text-center">
          <a class="text-reset fw-bold" href="https://github.com/raulcv/notesapp"><i class="fab fa-github text-secondary mx-2"></i>source the code repo in Github.com</a>
    </div>
</div>